[mysqld]
datadir=/var/lib/mysql
socket=/var/run/mysqld/mysqld.sock
user=mysql

# Configurações de log
log_error=/var/log/mysql/error.log
log_queries_not_using_indexes=1
slow_query_log=1
slow_query_log_file=/var/log/mysql/slow-query.log

# Configurações de segurança
bind-address=0.0.0.0
skip-networking
